:root{
    --pink:#e84393;

}

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Poor+Story&family=Tenor+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
   
    
}
body{
    background-color: #ffe4a8;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    
}
/* nav bar */
.naav-bar{
    
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #e84393; */
    
}
@media (max-width:992px) {
    .naav-bar{
        
        width: 990px;
        margin-left: auto;
        margin-right: auto;
        
        
    }
}
@media (max-width:768px){
    .naav-bar{
        width: 750px;
    }

    .naav-bar .top{
        border-bottom: 2px solid black;
    }
    .naav-bar ul{
      width: 750px;
    }
    
    

       
}
@media (max-width:568px){
    .naav-bar{
        width: 560px;
    }

    .naav-bar .top{
        border-bottom: 2px solid black;
        width: 560px;
    }
    .naav-bar ul{
      width: 560px;
      
    }
}
@media (max-width:480px){
    .naav-bar{
        width: 400px;
    }

    .naav-bar .top{
        border-bottom: 2px solid black;
        width: 400px;
    }
    .naav-bar ul{
      width: 400px;
    }

}

.naav-bar .top{
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
    height: 12rem;
}

.naav-bar .top .left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.naav-bar .top .left p{
    font-size: 3rem;
    font-weight: 900;
    color: rgb(9, 70, 49);
}
@media (max-width:992px){
    .naav-bar .top .left p{
        font-size: 2rem;
        margin-top: 2rem;
    }
    .naav-bar .top .left h4{
        font-size: 1.5rem;
    }
}
@media (max-width:768px){
    .naav-bar .top .left p{
        font-size: 1.8rem;
        margin-top: 2rem;
    }
    .naav-bar .top .left h4{
        font-size: 1.5rem;
    }
}
@media (max-width:568px){
    .naav-bar .top .left p{
        font-size: 1rem;
        margin-top: 2rem;
    }
    .naav-bar .top .left h4{
        font-size: .6rem;
    }
    .naav-bar .right h1{
        font-size: 1rem;
    }
    .naav-bar .right img{
        height: 1rem;
    }

}

.naav-bar .top .right{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.naav-bar .top .right .fa-bars{
    font-size: 3rem;
    display: none;
}
@media (max-width:768px){
    .naav-bar .top .right .fa-bars{
        display: inline-block;
    }
}
.naav-bar .top .right h1{
    font-family: 'Cairo', sans-serif;
    font-size: 3.5rem;

}
@media (max-width:992px){
    .naav-bar .top .right h1{
        font-size: 2rem;

    }
    .naav-bar .top .right img{
        width: 35rem;
        height: 15rem;
    }
}

.naav-bar .top .right img{
    width: 9rem;
    margin-left: 2rem;
}

.naav-bar  ul{    
    width: 100%;
    padding: 1.3rem .2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 7rem;
    margin-bottom: -1rem;
    background-color: #008b52;
    border-bottom: 2px solid orange;
}
@media (max-width:568px){
    .naav-bar ul{
        padding: .1rem .1 rem;
    }
}


.naav-bar  ul li a{
    list-style: none;
    text-decoration: none;
    display:inline-block;
    font-size: 1.5rem;
    font-weight: 700;
    color: aliceblue;
    margin-right: 1.5rem;
    transition: .5s ease-in-out;
    font-family: 'Cairo', sans-serif;
    padding: 1rem;
    border-radius: 1rem;

}
@media (max-width:568px){
    .naav-bar  ul li a{
        font-size: 1rem;
        padding: 0rem;
    }
}
@media (max-width:768px){
    .naav-bar  ul li a{
        font-size: 1.2rem;
    }
}
@media (max-width:480px){
    .naav-bar  ul li a{
        font-size: .8rem;
    }
}


.naav-bar  ul li a:hover{
    border-bottom: 2px solid orange ;
    color: black;
    background-color: aqua;
}

@media (max-width:992) {
    
}

/* end nav bar */
/* about us */
.about-us{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
    position: relative;
}
.about-us .main-img{
    width: 100%;
    height: 70vh;
}
.about-us .main-img img{

    width: 100%;
    height: 70vh;
}
@media (max-width:768px){
    .about-us{
        width: 750px;
        background-size: 100% 68vh;
    }
    .about-us .main-img{
        width: 750px;
    }
    .about-us .main-img img{
        width: 750px;
    }
}
@media (max-width:992px){
    .about-us{
        width: 990px;
        background-size: 990px 68vh;
    }
    .about-us .main-img{
        width: 990px;
    }
    .about-us .main-img img{
        width: 990px;
    }
}
@media (max-width:568px){
    .about-us{
        width: 560px;
        background-size: 560px 68vh;
    }
    .about-us .main-img {
        width: 560px;
    }
    .about-us .main-img img{
        width: 560px;
    }
}
@media (max-width:480px){
    .about-us{
        width: 400px;
        background-size: 400px 68vh;
    }
    .about-us .main-img {
        width: 400px;
    }
    .about-us .main-img img{
        width: 400px;
    }
}


.about-us .logo{
    position: absolute;
    top: 5rem;
    right: 6rem;
    width: 150px;
}
@media (max-width:480px){
    .about-us .logo{
    top: 5rem;
    right: 15rem;
    width: 100px;
    }
}

/* .about-us .bref{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:25rem;
    right: 6rem;
    
    padding: 1rem 1rem;
    background-color: rgba(2, 12, 9, 0.3);
}
.about-us .bref h1{
    font-size: 3.5rem;
    color: aliceblue;
    font-weight: bolder;
}
.about-us .bref h4{
    font-size: 2.5rem;
    color: aliceblue;
}
.about-us .bref h5{
    font-size: 2.2rem;
    color: aliceblue;
}

.about-us .our-cv ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 39rem;
    margin-top: -7px;
    right: 6rem;
    color: rgb(9, 70, 29);
    background-color: rgba(89, 238, 238, 0.753);
    width: 57.5rem;
}
.about-us .our-cv ul li{
    font-size: 2rem;
    
} */
/* end about us */




/* contact us */
.contact-us-body{
    width: 100%;
    
    height: 70vh;
}
@media (max-width :992px){
    .contact-us-body{
        width: 990px;
       
        max-width: 1300px;
        height: 66.5vh;
    }

}
@media (max-width :768px){
    .contact-us-body{
        width: 750px;
       
     
    }

}
@media (max-width :568px){
    .contact-us-body{
        width: 560px;
    }

}
@media (max-width :480px){
    .contact-us-body{
        width: 400px;
    }

}
.contact-us-body .top {
    
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 30rem;
    display: flex;
    justify-content: space-around;

}
.contact-us-body .top img{
    width: 40rem;
}
@media (max-width :992px){
    .contact-us-body .top img{
        width: 35rem;
        height: 25rem;
    }
}
@media (max-width :568px){
    .contact-us-body .top img{
        width: 25rem;
        height: 15rem;
    }
}


.contact-us-body .foot{
    width: 70%;
    height: 30rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
    margin-top: -5rem;
}
@media (max-width :480px){
    .contact-us-body .foot{
        padding: 1rem;
    }
}

@media (max-width :568px){
    .contact-us-body .foot{
        width: 90%;
       
        margin-top: -10rem;
        padding: 1rem;
    }
}




.contact-us-body .foot h1{
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    color: #e84393;
}
@media (max-width :568px){
    .contact-us-body .foot h1{
        font-size: 2rem;
    }
}
.contact-us-body .foot .card-contain{
    display: flex;
    flex-direction: column;
    height: 20rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    
}
@media (max-width :568px){
    .contact-us-body .foot .card-contain{
       
        height: 25rem;
    }
}
.contact-us-body .foot .card-contain h4{
    font-size: 1.9rem;
    color:#e84393;
}
@media (max-width:992px){
    .contact-us-body .foot .card-contain h4{
        margin-top: 1rem;
    }
}
.contact-us-body .foot .card-contain .crd{
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    
}
.contact-us-body .foot .card-contain .crd label{
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: .6rem;
    font-family: 'Cairo', sans-serif;
    
}
@media (max-width :568px){
    .contact-us-body .foot .card-contain .crd label{
        font-size: 1.2rem;
        font-weight: 900;
    }
}
@media (max-width :480px){
    .contact-us-body .foot .card-contain .crd label{
        font-size: 1.1rem;
    }
}

.contact-us-body .foot .card-contain .brans{
   
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-left: -25rem;
}


@media (max-width:992px){
    .contact-us-body .foot .card-contain .brans{
        width: 70rem;
        height: 30rem;
        margin-left: -5rem;
       
    }
}
@media (max-width:768px){
    .contact-us-body .foot .card-contain .brans{
        width: 70rem;
        height: 30rem;
       
       margin-left: 3rem;
       
    }
}
@media (max-width:480px){
    .contact-us-body .foot .card-contain .brans{
       
        height: 70rem;
      margin-left: -1rem;
     
        
        width: 400px;
    }
}

 .crd #bran1,
 .crd #bran2,
 .crd #bran3{
    font-size: 1.3rem;
    margin-right: .9rem;
}
@media (max-width:568px){
.crd #bran1,
 .crd #bran2,
 .crd #bran3{
    font-size: 1rem;
    margin-right: .9rem;
}
}
@media (max-width:480px){
.crd #bran1,
 .crd #bran2,
 .crd #bran3{
    font-size: .8rem;
    margin-right: .9rem;
}

}


.contact-us-body .foot .card-contain .crd a{
    text-decoration: none;
    font-size: 1.5rem;

}

.contact-us-body .foot .card-contain .crd div{
    font-size: 1.5rem;
    font-weight: 900;
}
@media (max-width:480px){
    .contact-us-body .foot .card-contain .crd div{
        font-size: 1rem;
    }
    .contact-us-body .foot .card-contain .crd a{
        font-size: 1rem;
    }
}


/* end contact us */

/* treatment */
.treatment-body{
    max-width: 1300px;
    width: 1190px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    margin-top: 1rem;
    padding: 2rem;
    position: relative;
}
@media (max-width:992px){
    .treatment-body{
        width: 990px;
    }
    
    
}
@media (max-width:768px){
    .treatment-body{
        width: 750px;
    }
    
    
}
@media (max-width:568px){
    .treatment-body{
        width: 560px;
    }
    
    
}
@media (max-width:480px){
    .treatment-body{
        width: 400px;
    }
    
    
}

.treatment-body .float-img1{
    position: absolute;
    top: 10rem;
}
.treatment-body .float-img1 img{
    width: 30rem;
    box-shadow: 5px 5px 2px 2px rgba(209, 200, 200, 0.486);
}
@media (max-width:768px){
    .treatment-body .float-img1 img{
        width: 20rem;
    }
    .treatment-body .float-img1{
        top: 30rem;
    }
}
@media (max-width:480px){
    .treatment-body .float-img1 img{
        width: 10rem;
    }
    .treatment-body .float-img1{
        top: 30rem;
    }
}
.treatment-body h1{
    font-size: 5rem;
    text-align: center;
}
.treatment-body h5{
    font-size: 1.5rem;
    text-align: end;
}
.treatment-body p{
    font-size: 1.9rem;
    text-align: start;
    direction: rtl;
    font-family: 'Cairo', sans-serif;
    
}
@media (max-width:992px){
    
    .treatment-body p{
        font-size: 1.5rem;
        font-weight: 700;
    }
    
}
@media (max-width:480px){

.treatment-body p{
        font-size: 1rem;
        font-weight: 700;
    }
}



/* end treatment */
/* treatment-ways */
    .ways-body{
        width: 80%;
        height: 69vh;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        padding: 2rem;
        position: relative;
    }
    @media (max-width:992px){
        .ways-body{
            width: 990px;
        }
    }
    @media (max-width:768px){
        .ways-body{
            width: 750px;
        }
    }
    @media (max-width:568px){
        .ways-body{
            width: 560px;
        }
    }
    @media (max-width:480px){
        .ways-body{
            width: 400px;
        }
    }

    .ways-body h1{
        font-size: 3rem;
        font-weight: 900;
        text-align: center;
    }
    .ways-body p{
    font-size: 2rem;
    text-align: start;
    direction: rtl;
    font-family: 'Cairo', sans-serif;
    }

    

    .ways-body .float-img1{
        position: absolute;
        top: 10rem;
    }
    .ways-body .float-img1 img{
        width: 30rem;
    box-shadow: 5px 5px 2px 2px rgba(209, 200, 200, 0.486);
    }
    @media (max-width:992px){
        .ways-body .float-img1 img{
            width: 25rem;
        } 
    }
    @media (max-width:768px){
        .ways-body .float-img1{
            top: 27rem;
        }
        .ways-body .float-img1 img{
            width: 20rem;
        } 
        } 

        @media (max-width:480px){
            .ways-body p{
                font-size: 1.2rem;
                }
                .ways-body .float-img1{
                    top: 42rem;
                }
        }
    

/* end treatment-ways */

/* our staf */
.our-staf{
    max-width: 1300px;
    width: 1190px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    padding: 2rem;
}
@media (max-width:992px){
    .our-staf{
        width: 990px;

    }
}
@media (max-width:768px){
    .our-staf{
        width: 750px;

    }
}
@media (max-width:568px){
    .our-staf{
        width: 560px;

    }
}
@media (max-width:480px){
    .our-staf{
        width: 400px;

    }
}
.our-staf h1{
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}
.our-staf .our-info{
    width: 80%;
   
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.our-staf .our-info ul{
    display: flex;
    flex-direction: column;
    direction: rtl;
    
    font-size: 1.9rem;
    font-weight: 500;
}
@media (max-width:992px){
    .our-staf .our-info ul{
        font-size: 1.5rem;
    }
}

.our-staf  h2{
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 1rem;
    color: rgb(12, 73, 53);
}

.our-staf .body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    gap: 2rem;

}
.our-staf .img{
    flex-basis: 45%;
    background-color: aquamarine ;
}
@media (max-width:768px){
    .our-staf .img{
        flex-basis: 45%;
    }
    our-staf .img img{
        width: 80%;
    }
}

.our-staf .img img{
    width: 100%;
}


/* end our staf */

/* our advan */
.our-advan{
    width: 80%;
        min-height: 100vh;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        padding: 2rem;
        position: relative;
}
@media (max-width:992px){
    .our-advan{
        width: 990px;
    }
}
@media (max-width:768px){
    .our-advan{
        width: 750px;
    }
}
@media (max-width:568px){
    .our-advan{
        width: 560px;
    }
}
@media (max-width:480px){
    .our-advan{
        width: 400px;
    }
}

.our-advan h1{
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}
.our-advan .body{
    width: 100%;
    
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.our-advan .body ul{
    display: flex;
    flex-direction: column;
    direction: rtl;
    padding: 1rem;
    font-size: 1.5rem;
    gap: 1rem;
    font-weight: 500;
}
.our-advan .float-img1 {
    position: absolute;
    top: 2rem;
    left: 5rem;
}
.our-advan .float-img1 img{
    width: 30rem;
    box-shadow: 5px 5px 2px 2px rgba(209, 200, 200, 0.486);
}
@media (max-width:768px){
    .our-advan .float-img1 img{
        width: 20rem;
    }
    .our-advan .float-img1{
        left: 2rem;
    }
}
@media (max-width:480px){
    .our-advan .float-img1 img{
        width: 10rem;
    }
    .our-advan .float-img1{
        left: 2rem;
        top: 1rem;
    }
}

/* end our advan */



/* drug kinds */
    .drug-kinds-body{
        max-width: 1300px;
        width: 1190px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
       
        padding-top: 1rem;
        min-height: 100vh;
    }
    @media (max-width:992px){
        .drug-kinds-body{
            width: 990px;
        }
    }
    @media (max-width:768px){
        .drug-kinds-body{
            width: 750px;
        }
    }
    @media (max-width:568px){
        .drug-kinds-body{
            width: 560px;
        }
    }
    
    @media (max-width:480px){
        .drug-kinds-body{
            width: 400px;
        }
    }
    .drug-kinds-body h1{
        text-align: center;
        color: #e84393;
    }
    .drug-kinds-body .tmp-contain{
        display: flex;
        flex-direction: column;
       
        direction: rtl;
        padding: 2rem;
        
    }
    .drug-kinds-body .tmp-contain h3{
        font-size: 1.8rem;
        color: #e84393;
        font-weight: 700;
    }
    .drug-kinds-body .tmp-contain ul {
        list-style: decimal;
        font-size: 1.5rem;
        font-weight: 600;
    }
    @media (max-width:480px){
        .drug-kinds-body .tmp-contain ul {
            
            font-size: 1rem;
            
        }
    }

    .drug-kinds-body .tmp-contain .tmp p{
        font-size: 1.3rem;
        font-weight: 500;
    }

/* end drug kinds */

/* footer */
.footer{
    background-color: #412554;
    width: 100%;
    height: 9rem;
    padding: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width:992px){
    .footer{
        width: 990px;
    }
}
@media (max-width:768px){
    .footer{
        width: 750px;
    }
}
@media (max-width:768px){
    .footer{
        width: 750px;
    }
}
@media (max-width:568px){
    .footer{
        width: 560px;
    }
}
@media (max-width:480px){
    .footer{
        width: 400px;
    }
}


.footer h5{
    font-size: 1.2rem;
    color:white;
    text-align: center;
    
}
.footer .icons{
    margin: 0 auto;
    width: 30rem;
    font-size: 3rem;
    color: white;
    align-items: center;
}
.footer .icons .icn{
    font-size: 2rem;
    margin-right: 5rem;
    margin-top: .5rem;
    cursor: pointer;
    color: aliceblue ;
}


/* end footer */





